.tui-image-editor-header-logo {
  display: none;
}

.tui-image-editor-container .tui-image-editor-controls {
  background-color: #222427;
}

.tui-image-editor-container .tui-image-editor-header-buttons .tui-image-editor-download-btn {
  display: none;
}

.tui-image-editor-load-btn:hover {
  cursor: pointer;
}
